[Desktop Entry]
Name=Radio Tray Lite KISSFM SP
Terminal=false
Exec=radiotray-lite
Icon=radiotray-lite
Type=Application
Categories=AudioVideo;Audio;Player;GTK;
